In [1]:
#career recommedation system

In [20]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import ast 
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
import sklearn
import warnings; warnings.simplefilter('ignore')

In [21]:
!ls ./input_data/*.tsv

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [22]:
db=pd.read_csv("job recommendation system.csv")

In [23]:
db.head(5)

,id,job,skills,iq,eq,communication,creativity,Technical expertise,Adaptability,Teamwork,Analytical skills,tech skills
0,1,Software Engineer,8,7,9,8,7,9,8,9,9,9
1,2,Data Scientist,9,8,8,8,8,9,7,8,9,10
2,3,Financial Analyst,7,7,8,7,6,7,7,8,9,7
3,4,Marketing Manager,8,6,9,9,9,7,7,9,8,6
4,5,Project Manager,9,7,8,7,8,8,8,9,9,7

In [24]:
from sklearn import tree

In [25]:
tree.DecisionTreeClassifier()

DecisionTreeClassifier()

In [26]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

NameError: name 'X' is not defined

In [27]:
db.head(5)

,id,job,skills,iq,eq,communication,creativity,Technical expertise,Adaptability,Teamwork,Analytical skills,tech skills
0,1,Software Engineer,8,7,9,8,7,9,8,9,9,9
1,2,Data Scientist,9,8,8,8,8,9,7,8,9,10
2,3,Financial Analyst,7,7,8,7,6,7,7,8,9,7
3,4,Marketing Manager,8,6,9,9,9,7,7,9,8,6
4,5,Project Manager,9,7,8,7,8,8,8,9,9,7

In [28]:
x=db.drop('job', axis=1,inplace=False)

In [29]:
x.head(5)

,id,skills,iq,eq,communication,creativity,Technical expertise,Adaptability,Teamwork,Analytical skills,tech skills
0,1,8,7,9,8,7,9,8,9,9,9
1,2,9,8,8,8,8,9,7,8,9,10
2,3,7,7,8,7,6,7,7,8,9,7
3,4,8,6,9,9,9,7,7,9,8,6
4,5,9,7,8,7,8,8,8,9,9,7

In [30]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

NameError: name 'y' is not defined

In [31]:
o=pd.dataframe([[1,8,7,9,8,7,9,8,9,9,9]])
o.reshape(-1, 1)
clf.predict(o)

AttributeError: module 'pandas' has no attribute 'dataframe'

In [32]:
o=pd.DataFrame([[5,7,7,4,6,9,10,10,10,10,10]])

In [33]:
clf.predict(o)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.35)

In [34]:
y_pred = classifier.predict(X_test)

NameError: name 'classifier' is not defined

In [35]:
clf = tree.DecisionTreeClassifier()
classifier = clf.fit(X_train,y_train)

NameError: name 'X_train' is not defined

In [36]:
y_pred = classifier.predict(X_test)

NameError: name 'classifier' is not defined

In [37]:
print(y_pred)

NameError: name 'y_pred' is not defined

In [38]:
from sklearn import metricsprint('Accuracy Score:', metrics.accuracy_score(y_test,y_pred))

SyntaxError: invalid syntax (583294901.py, line 1)

In [39]:
from sklearn import metrics

In [40]:
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred))

NameError: name 'y_test' is not defined